#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.star-button {
  border: none;
  background-color: transparent;
  color: gold;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

.star-button::before,
.star-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 0 12px 24px 12px;
}

.star-button::before {
  bottom: 0;
  border-color: transparent transparent gold transparent;
}

.star-button::after {
  top: 0;
  border-color: gold transparent transparent transparent;
}
